swagger: "2.0"
info:
  description: needs to add a description
  title: miniapp storage
  version: 1.0.0
host: storage:33775
schemes:
- http
#- https
paths:
  /version:
    get:
      tags:
        - version
      responses:
        200:
          description: version
          schema:
            $ref: "#/definitions/version" 
  /live:
    get:
      tags:
      - liveness
      responses:
        200:
          description: liveness probe
        503:
          description: if not alive
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /ready:
    get:
      tags:
      - readiness
      responses:
        200:
          description: readiness probe
        503:
          description: if not ready
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error" 
  /airlines:
    get:
      tags:
        - airlines
      produces:
        - application/json
      responses:
        200:
          description: list of airlines
          schema:
            type: array
            items:
              $ref: "#/definitions/airline"
        400:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /airports:
    get:
      tags:
        - airports
      produces:
        - application/json
      responses:
        200:
          description: list of airports
          schema:
            type: array
            items:
              $ref: "#/definitions/airport"
        400:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /courses:
    get:
      tags:
        - courses
      produces:
        - application/json
      responses:
        200:
          description: list of courses (routes)
          schema:
            type: array
            items:
              $ref: "#/definitions/course"
        400:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /schedules:
    get:
      tags:
        - schedules
      produces:
        - application/json
      responses:
        200:
          description: list of schedules
          schema:
            type: array
            items:
              $ref: "#/definitions/schedule"
        400:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - schedules
      description: "Creates a new schdule. Duplicates are not allowed"
      operationId: "addSchedule"
      consumes:
        - "application/json"
      produces: 
        - "application/json"
      parameters: 
        - 
          name: "schedule"
          in: "body"
          description: "Schedule"
          required: true
          schema: 
            $ref: "#/definitions/schedule"
      responses: 
        201:
          description: "Created"
          schema: 
            $ref: "#/definitions/schedule"

        default: 
          description: "unexpected error"
          schema: 
            $ref: "#/definitions/error"
  /schedules/{id}:
    parameters:
      - $ref: "#/parameters/idPathParameter"
    get:
      operationId: getSchedule
      tags: 
        - schedules
      produces:
        - application/json
      responses:
        200:
          description: list of schedules
          schema:
            $ref: "#/definitions/schedule"
    put:
      operationId: updateSchedule
      tags:
        - schedules
      description: "Updates an existant Schedule"
      consumes:
        - "application/json"
      produces: 
        - "application/json"
      parameters:
        - name: schedule
          in: body
          description: the schedule to update
          required: true
          schema:
            $ref: "#/definitions/schedule"
      responses:
        201:
          description: Updated Succesfully
          schema:
            $ref: "#/definitions/schedule"
        400:
          description: invalid id
        404:
          description: schedule not found
      consumes:
        - "application/json"
      produces: 
        - "application/json"
    delete:
      tags:
        - schedules
      operationId: deleteSchedule
      description: "Delete an existant schedules"

      responses:
        204:
          description: Deleted successfully
        400:
          description: Invalid ID
        404:
          description: Schedule not found

parameters:
  idPathParameter:
    name: id
    description: The id of the item
    type: integer
    format: int64
    in: path
    required: true
         
definitions:
  version:
    type: object
    properties:
      Version:
        type: string
  course:
    type: object
    properties:
      Airline:
        type: string
      AirlineID:
        type: integer
      SourceAirport:
        type: string
      SourceAirportID:
        type: integer
      DestinationAirport:
        type: string
      DestinationAirportID:
        type: integer
      CodeShare:
        type: string
      Stops:
        type: integer
      Equipment:
        type: string
  airline:
    type: object
    properties:
      AirlineID:
        type: integer
      Name:
        type: string
      Alias:
        type: string
      IATA:
        type: string
      ICAO:
        type: string
      Callsign:
        type: string
      Country:
        type: string
      Active:
        type: string
  airport:
    type: object
    properties:
      AirportID:
        type: integer
        format: int32
      Name:
        type: string
      City:
        type: string
      Country:
        type: string
      IATA:
        type: string
      ICAO:
        type: string
      Latitude:
        type: number
      Longitude:
        type: number
      timezone:
        type: string
      DST:
        type: string
      TZ:
        type: string
  schedule:
    type: object
    required:
      - "ScheduleID"
      - "Origin"
      - "Destination"
      - "FlightNumber"
      - "OperatingCarrier"
      - "DaysOperated"
      - "DepartureTime"
      - "ArrivalTime"
      - "ArriveNextDay"
    properties:
      ScheduleID:
        type: integer
        format: int64
      Origin:
        type: integer
        format: int32
      Destination:
        type: integer
        format: int32
      FlightNumber:
        type: string
      OperatingCarrier:
        type: string
      DaysOperated:
        type: string
      DepartureTime:
        type: string
      ArrivalTime:
        type: string
      ArriveNextDay:
        type: boolean
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
