<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your schedules</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navigation_bar.css">

    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>

</head>

<body>

        <table>
            {{range $y, $x := . }}
            <tr>
            <td>{{$x.Description}}</td>
            <td>
                <table>
                    <tr>
                        <th>Flight Number</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        </tr>
                        {{range $w, $z := $x.Segments}}
                        <tr>
                        <td>{{$z.FlightNumber}}</td>
                        <td>{{$z.Origin}} {{$z.DepartureDate}}/{{$z.DepartureTime}}</td>
                        <td>{{$z.Destination}} {{$z.ArrivalDate}}/{{$z.ArrivalTime}}</td>
                        </tr>
                        {{end}}
                </table>
            </td>
            </tr>
            {{end}}
        </table>
</body>

</html>