kind: Service
apiVersion: v1
metadata:
  name: storage
  labels:
    name: storage
spec:
  selector:
    app: storage
  ports:
  - protocol: TCP
    port:  8080
    targetPort: 8080

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: storage
  template:
    metadata:
      labels:
        app: storage
    spec:
      containers:
      - name: storage
        image: miniplanes:latest
        imagePullPolicy: Never
        command: ["/storage"]
        args: ["--port=8080", "--host=0.0.0.0", "--mongo-host=mongo", "--mongo-port=27017"]
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /live
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
